body {
    background-color: #f8f9fa;
}

header nav a {
    margin-right: 15px;
}

#profile-info p {
    font-size: 1.1rem;
}

table th {
    background-color: #343a40;
    color: white;
}

table tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

h1,
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}